Checks: >
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -misc-include-cleaner,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|runtime)/.*\.h$'
